services:
  postgres:
    image: postgres:16
    container_name: violet-postgres
    environment:
      POSTGRES_DB: violet
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d
    restart: always

  bot_discord_violet:
    container_name: Bot-discord-violet
    build:
      context: .
    env_file:
      - ./.env
    depends_on:
      - postgres
      - apm-server
    restart: always
    network_mode: host
    labels:
      - "logging=promtail"

  apm-server:
    image: docker.elastic.co/apm/apm-server:7.17.0
    container_name: violet-apm
    ports:
      - "8200:8200"
    command: >
      apm-server -e
        -E apm-server.rum.enabled=true
        -E setup.kibana.host=kibana:5601
        -E setup.template.settings.index.number_of_replicas=0
        -E output.elasticsearch.hosts=["http://elasticsearch:9200"]
    depends_on:
      - elasticsearch
    restart: always

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.0
    container_name: violet-elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    restart: always

  kibana:
    image: docker.elastic.co/kibana/kibana:7.17.0
    container_name: violet-kibana
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    depends_on:
      - elasticsearch
    restart: always

volumes:
  postgres_data:
  elasticsearch_data:



  